.row {
  background-color: #EBF6FF;
}

.brand {
  background-color: #cccccc;
}

.map {
  width: 830px;
  height: 685px;
  background: url(./Map.png);
}

.location {
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.25);
}


.textt {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.centerr {
  justify-content: center;
  align-items: center;
}

.btn-soft {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  background-color: #EBF6FF;
  box-shadow: -2px -4px 8px rgba(255, 255, 255, 1), 2px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.btn-soft:focus {
  box-shadow: inset -3px -4px 5px #FFFFFF, inset 2px 4px 3px rgba(0, 0, 0, 0.25);
}

.btn-soft-pressed{
  box-shadow: inset -3px -4px 5px #FFFFFF, inset 2px 4px 3px rgba(0, 0, 0, 0.25);
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  background-color: #EBF6FF;
  border-radius: 9px;

}

.input {
  background: linear-gradient(90deg, #EBF6FF 0%, #FBFBFB 100%);
  box-shadow: inset -1px -1px 3px #FFFFFF, inset 2px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}